*{
    box-sizing: border-box;
    font-family: 'Century Gothic';
}

html,body{
    margin: 0;
}
body{
    background-color: rgb(28, 37, 41);
}

.icon{
    width: 3.5em;
}
a{
    text-decoration: none;
    color: white;
}
.i1icon:hover{
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    width: 50%;
} 
.i1icon{
    border: none;
    font-size: 1em;
    width: 50%;
    background-color:rgb(58, 80, 90);
}
.info12{
    border-top: solid .1em black;
    border-bottom:solid .1em black;
    display: flex;
    font-size: 1.5em;
    border-radius: 10px;
    text-align: center;
    justify-content: space-around;
    background-color: black ;
}
.icon:hover, .sub:hover{
    color: black;
    border-radius: 10px;
    background-color: white;
}
.cel-sub{
    font-size: 3em;
    height: 100%;
    width: 15%;
    border: solid black;
    border-radius: 10px;
    background-color: transparent;
    padding: 0;
}
.cel-sub:hover{
    background-color: white;
    
}

.celheader{
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(58, 80, 90);
    border-bottom: solid black;
}


.container{
    background-color:rgb(28, 37, 41);
       align-items: center;
       justify-content: center;
       align-content: center;
       text-align: center;
}
.titulo{
    font-size: 3rem;
}
.search:hover{
    background-color:white;
    }    
    .search{
        border: solid .1em black;
        padding: .5em;
        background-color: transparent;
        border-radius: 10px;
    }
.minititle{
    font-size: 1.5em;
    padding: .5em;
}
.datos{
    border: solid .1em ;
}
.form-labelkeep{
    color: white;
}
.datos:hover{
    color: white;
    background-color: rgb(72, 89, 97);

}
.vieitem{
    text-align: center;
}
.form-label{
    color: white;
    width: 100%;
    text-align: center;
}
.form-group{
    margin-bottom: 1em;
}
.personal{
    border: solid .1em black;
    background-color: rgb(19, 34, 36);
    border-radius: 10px;
}
.contra{
    background-color: rgb(19, 34, 36);
    border-radius: 10px;
}
.form-control{
    text-align: center;
    width: 95%;
    padding: .5em;
}
.form-control:hover{
    background-color: rgb(165, 197, 201);
    color: black;
}
.container{
    background-color: rgb(28, 37, 41)
}
input[type= "submit"]{
    width: 50%;
    padding: .5em;
    font-size: 1em;
    border-radius: 10px;
    color: white;
    background-color: rgb(19, 34, 36);
    font-weight: bold;
    border-style: solid;
    border-color: black;
}
input[type= "submit"]:hover{
    background-color: rgb(86, 122, 126);
    color: black;
}
.pcNavbar{
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 10px;
    border: solid black;
    background-color: black;
    
}

.celNavbar{
    display: flex;
    bottom: 0;
    width: 100%;
    position: fixed;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    background-color:rgb(58, 80, 90);
    border-radius: 10px;
    border: solid black;
}
.celheader ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 0;
    width: 100%;
    margin-bottom: 0;
    justify-content: space-between;
    background-color:rgb(58, 80, 90);
    top: 0;
    border-radius: 10px;
    margin-right: 1em;
}
.celNavbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 0;
    width: 100%;
    margin-bottom: 0;
    justify-content: space-around;
    background-color:rgb(58, 80, 90);
    top: 0;
    border-radius: 10px;
}

.datos{
    background-color: rgb(86, 122, 126);
}
@media(min-width: 780px){
    .icon{
        width: 4.2em;
    }
    .view{
        display: none;
    }
    .celNavbar{
        display: none;
    }
    .container{
        display: flex;
       justify-content:space-around;
       margin-top: 7.5em;
    }
    .sub{
        border: none;
        font-weight: bold;
        padding: 2em;
        font-size: 1.1em;
        background-color: transparent;
    }
    .pcNavbar ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        align-content: center;
        margin-top: 0;
        margin-bottom: 0;
        justify-content: space-between;
        background-color:rgb(58, 80, 90);
        top: 0;
        border-radius: 10px;
    }
    .miniheader{
        font-weight: bold;
        font-size: 2em;
    }
    .celheader{
        display: none;
    }
    .pclist{
        border: solid black;
        border-radius: 5px;
        width: 24%;
        background-color:rgb(12, 80, 74);
        align-items: center;
        align-content: center;
        height: 35em;
    }
    .info{
        width: 70%;
    }
    .minititle{
        border-top: solid black;
        background-color:rgb(12, 80, 74);
    }
}

@media(max-width: 780px){
.pcNavbar{
    display: none;
}
.pclist{
    display: none;
}
.mensages{
    height: 34.4em;
}
.minititle{
    background-color: rgb(12, 80, 74);
}
.miniheader{
    display: none;
}
.fullchat{
    display: none;
}
.container{
    margin-top: 6em;
}
.info12{
    position: fixed;
    width: 100%;
    margin-top: -1.5em;
}
}