*{
    box-sizing: border-box;
    font-family: 'Century Gothic';
}

html,body{
    margin: 0;
}
body{
    background-color: rgb(28, 37, 41);
}
a{
    text-decoration: none;
    color: white;
}
.info12{
    border-top: solid .1em black;
    border-bottom:solid .1em black;
    display: flex;
    font-size: 1.5em;
    border-radius: 10px;
    text-align: center;
    justify-content: space-around;
    background-color: black ;
}
.interact{
    width: 100%;
        display: flex;
        align-items: center;
        width: 80%;
        border: solid black ;
        border-radius: 10px;
        justify-content: space-around;
        background-color: rgb(12, 80, 74);
}
.view{
    display: block;
}
.celheader{
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(58, 80, 90);
    border-bottom: solid black;

}

.imgg{
    width: 100%;
    height: 87vh;
}
.personal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: solid .1em black;
    background-color:rgb(12, 80, 74);
}
.opciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:rgb(28, 37, 41);
}
.i1icon:hover{
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    width: 50%;
} 
.i1icon{
    border: none;
    font-size: 1em;
    width: 50%;
    background-color:rgb(58, 80, 90);
}
.cel-sub{
    font-size: 3em;
    height: 100%;
    width: 15%;
    border: solid black;
    border-radius: 10px;
    background-color: transparent;
    padding: 0;
}
.cel-sub:hover{
    background-color: white;
    
}
.edit{
    width: 30%;
    padding: 1em;
    font-size: 1em;
    border-radius: 10px;
    color: white;
    background-color: rgb(19, 34, 36);
    font-weight: bold;
    border-style: solid;
    border-color: black;
}
.edit:hover{
    background-color: rgb(86, 122, 126);
}
.data1{
    border-radius: 10px;
    display: flex;
    padding: .5em;
    font-size: 2em;
    font-weight: bold;
    color: white;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: none;
}
.icon:hover{
    background-color: white;
}
.opciones{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:rgb(28, 37, 41);
    border: solid .1em black;

}
.search:hover{
    background-color:white;
    }    
    .search{
        border: solid .1em black;
        padding: .5em;
        background-color: transparent;
        border-radius: 10px;
    }
.data2{
    display: flex;
    padding: .5em;
    width: 100%;
    font-size: 1.5em;
    border-radius: 5px;
    border-top: solid black;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
}

.icon{
    width: 4em;
}
.titulo{
    font-size: 3rem;
}
.pcNavbar{
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 10px;
    border: solid black;
    background-color: black;
    
}
.comment:hover{
    background-color:white;
}
.comment{
    border: solid .1em black;
    padding: .5em;
    background-color: rgb(58, 80, 90);
    width: 80%;
}
.info3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color:transparent;
}
.celNavbar{
    display: flex;
    bottom: 0;
    width: 100%;
    position: fixed;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    background-color:rgb(58, 80, 90);
    border-radius: 10px;
    border: solid black;
}
.celheader ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 0;
    width: 100%;
    margin-bottom: 0;
    justify-content: space-between;
    background-color:rgb(58, 80, 90);
    top: 0;
    border-radius: 10px;
    margin-right: 1em;
}
.celNavbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 0;
    width: 100%;
    margin-bottom: 0;
    justify-content: space-around;
    background-color:rgb(58, 80, 90);
    top: 0;
    border-radius: 10px;
}
.sub:hover{
    background-color: white;
    border-radius: 10px;
}
.info1{
    border-top: solid .1em black;
    border-bottom:solid .1em black;
    display: flex;
    font-size: 1.5em;
    border-radius: 10px;
    text-align: center;
    justify-content: space-around;
    background-color: black ;
}
.info2{
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 2em;
    align-items: center;
    height: 100%;
    align-content: center;
    justify-content: space-around;
    background-color:rgb(12, 80, 74);
    border: solid black;
    margin-top: 5em;
}
.profimg,.opt{
    width: 4em;
}
.info3{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color:transparent;
}
@media(min-width: 780px){
    .imgg{
        width: 100%;
        height: 100vh;
    }
    .icon{
        width: 4.2em;
    }

    .celNavbar{
        display: none;
    }
    .celheader{
        display: none;
    }
    .sub{
        border: none;
        font-weight: bold;
        padding: 2em;
        font-size: 1.1em;
        background-color: transparent;
    }
    .pcNavbar ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        align-content: center;
        margin-top: 0;
        margin-bottom: 0;
        justify-content: space-between;
        background-color:rgb(58, 80, 90);
        top: 0;
        border-radius: 10px;
    }
    .search:hover{
    background-color:white;
}
.container{
    margin-top: 6em;
} 
.search{
    border: solid .1em black;
    padding: .5em;
    background-color: transparent;
    border-radius: 10px;
}

}

@media(max-width: 780px){
.pcNavbar{
    display: none;
}
.view{
    position: fixed;
    width: 100%;
}
.info12{
    margin-top: -1em;

}

.container{
    margin-top: 6em;
    margin-bottom: 4.5em;
} 
}